.bobBody {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bobHead {
    width: 100px;
    height: 150px;
    background-color: #fcf7c3;
    border-radius: 50%;
    position: relative;

}


.bobHair {
    width: 100px;
    height: 50px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.bobFace {
    width: 100px;
    height: 110px;
    position: absolute;
    top: 20px;
    left: 0;
}

.bobFace img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background-color: #bee9ff;
    font-family: Arial, sans-serif;
}

button {
    margin: 20px auto;
    display: block;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}