


  
h1 {
    margin-left: 250px;
    align-items: start;
    text-align: start;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 48px;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  gap: 48px;
  align-items: start;

  /* background-image: url("images/Comp\ \(2\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
*/
}


.cooking-story {
  /* background-color: antiquewhite;  */
  /* background-image: url("images/Cutting\ Board.png");
  background-size: 100% auto;
background-position: left top;
background-repeat: no-repeat;
    align-self: start; */
position: relative; 


  min-height: 520px;
  padding: 8px;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
}


.board {
  width: 100%;
  height: auto;
  /* display: block; */
}


.madlib-inputs {
  background-color: #f5efff;
  padding: 32px;
  border-radius: 24px;
  background-image: url("images/Guest\ Reciept\ \(1\).png");
    background-size: cover;
    background-position: center;

}


form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}


.content-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 750px;
   
}


.form-field {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

input[type="text"] {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  outline: none;
  border-color: #9b87ff;
  box-shadow: 0 0 0 3px rgba(155, 135, 255, 0.25);
}

input[type="submit"] {
  grid-column: 1 / -1;
  margin-top: 16px;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background-color: #9b87ff;
  color: white;
  cursor: pointer;
}
