/* Base reset */

a:link {
  color: rgb(27, 72, 18);
  text-decoration: none;
}


a:visited {
  color: rgb(27, 72, 18);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

/* MAIN PAGE WRAPPER */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 40px 60px 40px 0px;
  gap: 100px;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 260px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 40px 24px;
  width: 260px;
  background-color: white;
  min-height: 100vh;

  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: 6px 0 18px rgba(0, 0, 0, 0.05);
}

.sidebar-title {
  font-family: 'Tangerine', cursive;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  color: #271313c7;
  margin: 0;
}

.nav-btn {
  border: none;
  background: #ededed;
  padding: 12px 20px;
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  cursor: pointer;
}

.main-column {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


.nav-btn a {
  text-decoration: none;
  color: #342c29;
  font-weight: 600;
}

/* MAIN FEED AREA */
.content-card {
  max-width: 700px;
  width: 100%;
  margin: 0 auto 20px; /* top 0, sides auto (centered), bottom 20px */
  
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  border: 2px solid rgba(190, 191, 133, 0.7);
}

/* HEADER */
.header h1 {
  margin-top: 0;
}

/* ARTICLE TEXT */
article p {
  line-height: 1.7;
  margin-bottom: 1.25rem;
}

/* LINKS */
a {
  color: #342c29;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3796ce;
}

/* FOOTER */
.footer {
  /* max-width: 700px;
  margin: 40px auto 0; */
  margin-top:auto;

  background-color: #fffef9;
  border-radius: 1.5rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);

  padding: 16px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-feed {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
