body {
  font-family: 'Nunito', sans-serif;
  background-color: #f7f5e3;
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.container {
  display: grid;

  /* Two columns: left text, right card */
  grid-template-columns: 300px 1fr;

  /* Header space, main content, footer */
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "top  top"
    "side main"
    "foot foot";

  min-height: 100vh;
  padding: 0 40px;

  /* THIS vertically centers items in row 2 */
  align-items: center;
  width: 1200px;
  height: 750px;
column-gap: 80px;

  
}

.sidebar-title {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size:100px;
  color: #271313c7;
  text-align: center;
  margin: 0;
}




.top-spacer {
  grid-area: top;
  height: 60px;
}

.sidebar {
  grid-area: side;

  /* Center content vertically & stack */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;
  
}

.sidebar h1 {
  font-size: 2.5rem;
  margin: 0;
}

.nav-btn {
  width: fit-content;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.content-card {
  grid-area: main;

  background: white;
  padding: 40px;
  max-width: 700px;

  border-radius: 12px;
 stroke: #fff1a1;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    border: 2px solid rgba(190, 191, 133, 0.7);
}

.footer {
grid-area: foot;

  width: 100%;
  max-width: none;

  background-color: #FFFADF;
  border-radius: 1.5rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);

  margin: 48px 0;
  padding: 16px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

a {
  color: #342c29;       
}

a:hover {
  text-decoration: underline; /* underline appears on hover */
  color: #3796ce;             /* slightly darker blue on hover */
}
